<button [routerLink]="['/dashboard']" class='float-right'>Cancel</button>
question must be at least 10 letters and options must be at least 3
<div>
  <form (submit)='createPoll()'>
    <div>
      <label>Question</label>
      <input type="text" name="question" [(ngModel)]='newPoll.question'>
    </div>
    <div>
      <label>Option 1</label>
      <input type="text" name="option1" [(ngModel)]='newPoll.option1.option'>
    </div>
    <div>
      <label>Option 2</label>
      <input type="text" name="option2" [(ngModel)]='newPoll.option2.option'>
    </div>
    <div>
      <label>Option 3</label>
      <input type="text" name="option3" [(ngModel)]='newPoll.option3.option'>
    </div>
    <div>
      <label>Option 4</label>
      <input type="text" name="option4" [(ngModel)]='newPoll.option4.option'>
    </div>
    <div *ngIf='newPoll.option1.option.length > 2 && newPoll.option2.option.length > 2 && newPoll.option3.option.length > 2 && newPoll.option4.option.length > 2'>
      <input type="submit" value="Submit">
    </div>
  </form>
  <div>
    <p [ngStyle]="{'color': 'red'}" *ngFor="let error of errors">{{ error }}</p>
  </div>
</div>